In [11]:
import pandas as pd
import numpy as np
from time  import time
from IPython.display import display


# Loading local visulas.py file
import visuals as vs

# pretty display for notebooks
%matplotlib inline

# load data
data = pd.read_csv("./census.csv")

display(data.head(n=1))

,age,workclass,education_level,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,Bachelors,13.0,Never-married,Adm-clerical,Not-in-family,White,Male,2174.0,0.0,40.0,United-States,<=50K