In [3]:
# Pandas

import pandas as pd

In [15]:
df = pd.read_csv('../data/data.csv',index_col=1)
df

          -0.72407
2.23863
-0.00156  -2.40724
 3.01665   2.64837
 2.31019   0.36092
 2.05950   0.67312
 1.24736  -0.45460
...            ...
 1.21538  -0.92159
 2.39377   0.76953
 1.55730   0.03283
 0.70874  -1.07619
 1.76894   0.20174

[99 rows x 1 columns]